@use '../fonts';


@mixin displayFlex($property){
    -webkit-box: $property;
    -ms-flexbox: $property;
    display: $property;
}


@mixin directionRow($property){
    -webkit-box-orient: $property;
    -webkit-box-direction: $property;
        -ms-flex-direction: $property;
            flex-direction: $property;
}


@mixin justifySpace($property){
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}


@mixin directionColumn($property){
    -webkit-box-orient: $property;
    -webkit-box-direction: $property;
    -ms-flex-direction: $property;
        flex-direction: $property;
}

@mixin button-colors($colors) {
    background: $colors;
    &:hover {
        background: darken($colors, 8%);
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    &:active {
        background: darken($colors, 25%);
    }
}

.contacts__main{
    max-width: 1110px;
    width: 100%;
    @include displayFlex(flex);
    @include directionRow(row);
    @include justifySpace(space-between);
    padding-top: 50px;
    margin-top: 60px;
    padding-bottom: 60px;


    &__text{
        width: 40%;
    }

    &__text-title{
        font-size: 40px;
        line-height: 55px;
        font-family: fonts.$main-font;
        font-weight: map-get(fonts.$font-weights, bold);
        color: fonts.$text-color;
    }

    &__text-text{
        font-size: 16px;
        line-height: 26px;
        font-family: fonts.$main-font;
        font-weight: map-get(fonts.$font-weights, regular);
        color: fonts.$text-color;
        opacity: 0.8;
    }

    &__form{
        @include displayFlex(flex);
        @include directionColumn(column);
        max-width: 475px;
        width: 100%; 
        margin-top: 20px;
    }

    &__form-text{
        @include displayFlex(flex);
        @include directionColumn(column);
       
        
    }

    &__input-field,
    &__txt-area {
        height: 37px;
        margin-bottom: 46px;
        resize: none;
    }

    &__input-field::-webkit-input-placeholder,
    &__txt-area::-webkit-input-placeholder {
        font-size: 16px;
        line-height: 20px;
        font-family: fonts.$main-font;
        font-weight: map-get(fonts.$font-weights, bold);
        color: fonts.$text-color;
        opacity: 0.6;

    }

    &__btn-btn{
        width: 125px;
        border: none;
        height: 50px;
        @include button-colors(#4A4FF2)
    }


    &__btn-link{
        text-decoration: none;
        color: white;
        font-size: 16px;
        line-height: 20px;
        font-family: fonts.$main-font;
        font-weight: map-get(fonts.$font-weights, bold);
        color: fonts.$button-color;
    }
}

input[type=text],
input[type=email],
textarea[type=text]{
    border: none;
    border-bottom: 1px solid #D8D8D8;;
    background-color: transparent;
}


