.nav {
  margin-top: 61px;
  max-width: 1109px;
  width: 100%;
  -webkit-box: flex;
  -ms-flexbox: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.nav__logo {
  width: 90.13px;
  height: 19.34px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.nav__list {
  width: 15%;
  -webkit-box: flex;
  -ms-flexbox: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
  color: #111111;
}
.nav__a-link {
  color: black;
  text-decoration: none;
}
.nav__a-link:hover {
  color: orange;
}

.main {
  max-width: 1360px;
  width: 80%;
  padding-top: 50px;
  margin-top: 50px;
  -webkit-box: flex;
  -ms-flexbox: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main__text {
  width: 58%;
}
.main__text-title {
  width: 75%;
  font-size: 40px;
  line-height: 55px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: #111111;
}
.main__text-text-1 {
  font-size: 16px;
  line-height: 26px;
  opacity: 0.8;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  color: #111111;
}
.main__info {
  margin-top: 40px;
  width: 30%;
  overflow: hidden;
}
.main__info-project-text {
  -webkit-box: flex;
  -ms-flexbox: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main__info-project-line {
  height: 1px;
  color: #D8D8D8;
  opacity: 0.3;
  margin-top: 0;
}
.main__info-gray {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
  opacity: 0.5;
  margin-top: 0;
}
.main__info-black {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
  margin-top: 0;
  width: 60%;
}

.footer {
  max-width: 1110px;
  width: 100%;
  padding-top: 53px;
  padding-bottom: 47px;
}
.footer__lists {
  -webkit-box: flex;
  -ms-flexbox: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  width: 35%;
}
.footer__ul {
  padding: 0;
  width: 40%;
}
.footer__icons {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 0;
  -webkit-box: flex;
  -ms-flexbox: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  width: 20%;
}

.project-grid {
  padding-top: 61px;
  margin-bottom: 18px;
  max-width: 1110px;
  width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "pic1 pic1 pic1" "text text text" "pic2 pic3 pic4";
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.project-grid__item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: pic1;
}
.project-grid__item2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: text;
  font-size: 16px;
  line-height: 26px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  color: #111111;
  opacity: 0.8;
}
.project-grid__item3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: pic2;
}
.project-grid__item4 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: pic3;
}
.project-grid__item5 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: pic4;
}

html {
  -webkit-box: flex;
  -ms-flexbox: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: column;
  -webkit-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body {
  max-width: 1360px;
  width: 100%;
  height: 100vh;
  -webkit-box: flex;
  -ms-flexbox: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: column;
  -webkit-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}