@use 'fonts';

@mixin displayFlex($property){
    -webkit-box: $property;
    -ms-flexbox: $property;
    display: $property;
}

@mixin directionColumn($property){
    -webkit-box-orient: $property;
    -webkit-box-direction: $property;
    -ms-flex-direction: $property;
        flex-direction: $property;
}

@mixin directionRow($property){
    -webkit-box-orient: $property;
    -webkit-box-direction: $property;
        -ms-flex-direction: $property;
            flex-direction: $property;
}


@mixin justifySpace($property){
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}


.awards{
    max-width: 1110px;
    width: 100%;
    @include displayFlex(flex);
    @include directionColumn(column);
    padding-top: 51px;
    // border: 2px solid green;
    

    &__line{
        height: 2px;
        width: 100%;
        color: #D8D8D8;
    }

    &__text {
        @include displayFlex(flex);
        @include directionRow(row);
        @include justifySpace(space-between);
        padding-top: 50px;
        padding-bottom: 58px;

    }

    &__text__title{
        font-size: 22px;
        line-height: 28px;
        font-family: fonts.$main-font;
        font-weight: map-get(fonts.$font-weights, bold);
        color: fonts.$text-color;
    }

    &__text-info{
        width: 60%;
        @include displayFlex(flex);
        @include directionColumn(column);
        
    }

    &__text-info-1{
        @include displayFlex(flex);
        @include directionRow(row);
        @include justifySpace(space-between);
    }

    &__text-info-1-title{
        font-size: 18px;
        line-height: 23px;
        font-family: fonts.$main-font;
        font-weight: map-get(fonts.$font-weights, bold);
        color: fonts.$text-color;
    }

    &__text-info-1-text{
        @include displayFlex(flex);
        @include directionColumn(column);
        width: 25%;
    }

    &__text-info-1-text-1 {
        font-size: 16px;
        line-height: 20px;
        font-family: fonts.$main-font;
        font-weight: map-get(fonts.$font-weights, regular);
        color: fonts.$text-color;
    }

    &__text-info-1-text-2{
        font-size: 16px;
        line-height: 26px;
        font-family: fonts.$main-font;
        font-weight: map-get(fonts.$font-weights, regular);
        color: fonts.$text-color;
        opacity: 0.6;
    }

    &__text-info-1-text-digits{
        font-size: 16px;
        line-height: 20px;
        font-family: fonts.$main-font;
        font-weight: map-get(fonts.$font-weights, regular);
        color: fonts.$text-color;
    }
}