@use 'fonts';


@mixin displayFlex($property){
    -webkit-box: $property;
    -ms-flexbox: $property;
    display: $property;
}

@mixin directionRow($property){
    -webkit-box-orient: $property;
    -webkit-box-direction: $property;
        -ms-flex-direction: $property;
            flex-direction: $property;
}

@mixin justifySpace($property){
    -webkit-box-pack: $property;
    -ms-flex-pack: $property;
        justify-content: $property;
}


@mixin alignItems($property){
    -webkit-box-align: $property;
    -ms-flex-align: $property;
        align-items: $property; 
}

.content{
    max-width: 1109px;
    width: 100%;
    @include displayFlex(flex);
    @include directionRow(row);
    @include justifySpace(space-between);
    padding-top: 31px;
    padding-bottom: 50px;
    // border: 2px red solid;

    &__text{
        width: 58%;
        font-family: fonts.$main-font;
        font-weight: map-get(fonts.$font-weights, bold);
        color: fonts.$text-color;
        font-size: 28px;
        line-height: 38px;
        // border: 2px saddlebrown solid;
    }

    &__choices{
        height: 85%;
        @include displayFlex(flex);
        @include directionRow(row);
        // border: 2px darkcyan solid;
        @include alignItems(center);
        margin-right: 25px;
       
    }

    &__choices-1-point,
    &__choices-2-point{
        padding-top: 10px;
    }

    &__choices-1,
    &__choices-2{
        list-style: none;
        font-family: fonts.$main-font;
        font-weight: map-get(fonts.$font-weights, regular);
        color: fonts.$text-color;
        font-size: 18px;
        line-height: 23px;
        opacity: 0.6;
    }
}