@mixin displayFlex($property){
    -webkit-box: $property;
    -ms-flexbox: $property;
    display: $property;
}

@mixin directionRow($property){
    -webkit-box-orient: $property;
    -webkit-box-direction: $property;
        -ms-flex-direction: $property;
            flex-direction: $property;
}

@mixin justifySpace($property){
    -webkit-box-pack: $property;
    -ms-flex-pack: $property;
        justify-content: $property;
}

@mixin alignSelf($property){
    -ms-flex-item-align: $property;
    -ms-grid-row-align: $property;
    align-self: $property;
}

.footer{
    max-width: 1110px;
    width: 100%;
    padding-top: calc(114px - 61px);
    padding-bottom: 47px;


    &__lists{
        @include displayFlex(flex);
        @include directionRow(row);
        @include justifySpace(space-between);
        // border: 2px solid fuchsia;
        width: 35%;
    }

    &__ul{
        padding: 0;
        // border: 2px solid darkolivegreen;
        width: 40%;
    }

    &__icons{
        @include  alignSelf(center);
        padding: 0;
        @include displayFlex(flex);
        @include directionRow(row);
        @include justifySpace(space-between);
        width: 20%;
    }
}