@use 'fonts';



@mixin displayFlex($property){
    -webkit-box: $property;
    -ms-flexbox: $property;
    display: $property;
}


@mixin directionRow($property){
    -webkit-box-orient: $property;
    -webkit-box-direction: $property;
        -ms-flex-direction: $property;
            flex-direction: $property;
}


@mixin justifySpace($property){
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}


@mixin directionColumn($property){
    -webkit-box-orient: $property;
    -webkit-box-direction: $property;
    -ms-flex-direction: $property;
        flex-direction: $property;
}


@mixin justifyFlend($property){
    -webkit-box-pack: $property;
    -ms-flex-pack: $property;
        justify-content: $property;
}

.main{
    max-width: 1109px;
    width: 100%;
    margin-top: 96px;
    @include displayFlex(flex);
    @include directionRow(row);
    @include justifySpace(space-between);
    // border: 2px solid seagreen;
    margin-bottom: 77px;

    &__text{
        width: 60%;
        @include displayFlex(flex);
        @include directionColumn(column);
        // border: 2px solid rebeccapurple;
    }
    &__text-1{
        font-size: 22px;
        font-family: fonts.$main-font;
        font-weight: map-get(fonts.$font-weights, bold);
        color: fonts.$accent-color;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: -0.423077px;
    }

    &__title{
        font-family: fonts.$main-font;
        font-weight: map-get(fonts.$font-weights, bold);
        font-size: 40px;
        line-height: 60px;
        color: fonts.$text-color;
    }

    &__title-accent{
        color: fonts.$accent-color;
    }

    &__quote{
        @include displayFlex(flex);
        @include directionColumn(column);
        @include justifyFlend(flex-end);
        // border: 2px solid royalblue;
        padding-right: 55px;
    }
    &__quote-line{
        width: 30px;
        color: black;
        // border: 2px solid palegreen;
        margin: 0;


    }
    &__quote-text{
        // border: 2px solid sandybrown;
        font-family: fonts.$main-font;
        color: fonts.$text-color;
        font-weight: map-get(fonts.$font-weights, regular);
        font-style: italic;
        font-size: 18px;
        line-height: 23px;
        opacity: 0.6;
        margin-top: 0;
        padding-bottom: 18px;
        padding-top: 10px;
    }
}