@use 'fonts';

@mixin aLink ($link,  $decoration, $hover){
       & { color: $link;
        text-decoration: $decoration;
        &:hover{
            color: $hover;
        }
       }
}

@mixin displayFlex($property){
    -webkit-box: $property;
    -ms-flexbox: $property;
    display: $property;
}

@mixin directionRow($property){
    -webkit-box-orient: $property;
    -webkit-box-direction: $property;
        -ms-flex-direction: $property;
            flex-direction: $property;
}


@mixin justifySpace($property){
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}


@mixin alignSelf($property){
    -ms-flex-item-align: $property;
    -ms-grid-row-align: $property;
    align-self: $property;
}

.nav{
    margin-top: 61px;
    max-width: 1109px;
    width: 100%;
    // border: 2px yellow solid;
    @include displayFlex(flex);
    @include directionRow(row);
    @include justifySpace(space-between);
 

    &__logo{
        width: 90.13px;
        height: 19.34px;
        @include  alignSelf(center);
    }

    &__list{
        width: 15%;
        @include displayFlex(flex);
        @include directionRow(row);
        @include justifySpace(space-between);
        // border: 2px salmon solid;
        list-style: none;
        font-family: fonts.$main-font;
        font-weight: map-get(fonts.$font-weights, bold);
        font-size: 18px;
        line-height: 23px;
        letter-spacing: -0.346154px;
        color: fonts.$text-color;



    }
    &__list-bullet{
        // border: 1px darkblue solid;
        
    }

    &__a-link{
        @include aLink (black, none, orange);
    }

}
