@import 'nav';
@import 'main';
@import 'grid';
@import 'content';
@import 'awards';
@import 'footer';

html{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

body{
    max-width: 1360px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    // border: 2px solid rebeccapurple;
    
}

